{% if site.mailchimp %}
<section id="join" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join the Qwackers community!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//qwackapp.us11.list-manage.com/subscribe/post?u=0c13056184a864e7f68879a4d&amp;id=6f3f66f842" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" placeholder="Your Email *" id="EMAIL" name="EMAIL" class="form-control required email" id="mce-EMAIL" required data-validation-required-message="Please enter your email.">
                        <input type="text" placeholder="First Name *" id="FNAME" name="FNAME" class="form-control required name fname" id="mce-FNAME" required data-validation-required-message="Please enter your first name.">
                        <input type="text" placeholder="Last Name *" id="LNAME" name="LNAME" class="form-control required name lname" id="mce-LNAME" required data-validation-required-message="Please enter your last name.">

                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</section>
{% endif %}