{% include css/bootstrap.min.css %}
{% include css/agency.css %}

#join input { display: inline-block; margin-bottom: 10px; }

#join input[type=email],
#join input[type=text] { width: 300px; }


section#contact .form-group textarea.form-control {
    height: 245px;
}

video {
    width: 100%    !important;
    height: auto   !important;
}