{% include css/bootstrap.min.css %}
{% include css/agency.css %}

#join input { display: inline-block; }

#join input[type=email] { width: 300px; }
#join input[type=text] { width: 200px; }


section#contact .form-group textarea.form-control {
    height: 245px;
}

video {
    width: 100%    !important;
    height: auto   !important;
}