{% include css/bootstrap.min.css %}
{% include css/agency.css %}

#join { padding: 120px 0 45px; }
#join input { display: inline-block; }
#join input[type="email"] { width: 300px; }

section#contact .form-group textarea.form-control {
    height: 245px;
}

video {
    width: 100%    !important;
    height: auto   !important;
}